bumpversion==0.5.3
cookiecutter==1.6.0
pydocstyle==2.1.1
flake8_docstrings==1.1.0
planemo==0.48.0
pytest==3.2.5
pytest-cov==2.5.1
pytest-datadir-ng==1.1.0
pytest-flake8==0.9.1
pytest-mock==1.6.3
tox==2.9.1
