bcbio-gff==0.6.6
biopython==1.74
cached_property==1.5.1
click==7.0
compare-reads==0.0.1
contextlib2==0.6.0.post1
pandas==1.0.4
pysam==0.15.4
scipy==1.3.1
sortedcontainers==2.1.0
multiprocessing_logging==0.3.0
edlib==1.3.4
mappy==2.17
