bcbio-gff==0.6.6
biopython==1.73
cached_property==1.5.1
click==7.0
compare-reads==0.0.1
contextlib2==0.5.5
pandas==0.25.1
pysam==0.15.3
scipy==1.2.1
multiprocessing_logging==0.3.0
edlib==1.2.4.post1
mappy==2.17
