bcbio-gff==0.6.4
biopython==1.71
cached_property==1.4.0
click==6.7
contextlib2==0.5.5
futures==3.2.0; python_version < '3.3'
pandas==0.23.0
pysam==0.14.1
scipy==1.0.1
shutilwhich==1.1.0; python_version < '3.3'
six==1.11.0
backports.tempfile==1.0; python_version < '3.3'
multiprocessing_logging==0.2.6
edlib==1.2.3
